<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/c5a4c93ad5.js"
      crossorigin="anonymous"
    ></script>
    <title>Smoothie App</title>
    <link rel="icon" type="image/png" href="/images/icecream.png" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <h1><a href="/">Oscar's Smoothies</a></h1>
      <ul>
        <% if(user){ %>
        <li>Welcome, <%= user.email%></li>
        <li><a href="/logout">Log Out</a></li>
        <%} else {%>
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup" class="btn">Sign Up</a></li>
        <%} %>
      </ul>
    </nav>
  </body>
</html>
